a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
  color: #333;
}

/* 顶部 */
.wjs-header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  color: #e92322;
}

.wjs-header .row {
  height: 100%;
  text-align: center;
}

.wjs-header .row > div:nth-of-type(-n+3) {
  border-right: 1px solid #ccc;
}

.wjs_code {
  position: relative;
  display: block;
}

.wjs_code > img {
  display: none;
  position: absolute;
  top: 49px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  border-top: none;
}

.wjs_code:hover > img {
  display: block;
  z-index: 1;
}

.wjs-header .row > div:nth-last-of-type(1) .btn {
  padding: 3px 15px;
}

.wjs-header .row > div:nth-last-of-type(1) .btn-danger {
  background-color: #e92322;
  border-color: #e92322;
}

.wjs-header .row > div:nth-last-of-type(1) .btn-link {
  color: #333;
}

.wjs-header .row > div:nth-last-of-type(1) .btn-link:hover {
  text-decoration: none;
}


/* nav */
.wjs-nav .navbar-brand {
  min-height: 80px;
  line-height: 50px;
}

.wjs-nav .wjs_icon {
  font-size: 40px;
}

.wjs-nav .wjs_icon:nth-of-type(1) {
  color: #e92322;
}

.wjs-nav .wjs_icon:nth-of-type(2) {
  color: #333;
}

.wjs-nav .navbar-nav li a {
  display: block;
  height: 80px;
  line-height: 50px;
  font-size: 16px;
}


.wjs-nav .navbar-nav > .active > a,
.wjs-nav .navbar-nav > .active > a:focus,
.wjs-nav .navbar-nav > .active > a:hover {
  background: transparent;
  border-bottom: 3px solid #e92322;
}

.wjs-nav .navbar-nav > li > a:hover,
.wjs-nav .navbar-nav > li > a:focus {
  color: #777;
  background: transparent;
  border-bottom: 3px solid #e92322;
}

@media screen and (max-width: 768px) {
  .wjs-nav .navbar-nav li a {
    display: block;
    height: 50px;
    line-height: 30px;
    font-size: 14px;
  }

  .wjs-nav .navbar-nav > .active > a,
  .wjs-nav .navbar-nav > .active > a:focus,
  .wjs-nav .navbar-nav > .active > a:hover {
    background: transparent;
    border-bottom: 1px solid #e92322;
  }

  .wjs-nav .navbar-nav > li > a:hover,
  .wjs-nav .navbar-nav > li > a:focus {
    color: #777;
    background: transparent;
    border-bottom: 1px solid #e92322;
  }
}

.wjs-nav .navbar-toggle {
  margin-top: 23px;
}

.navbar {
  margin-bottom: 0;
}


/* 轮播 */
.wjs-banner .mobileImg {
  width: 100%;
  display: block;
}

.wjs-banner .mobileImg > img {
  width: 100%;
  display: block;
}

.wjs-banner .pcImg {
  width: 100%;
  height: 410px;
  display: block;
  /*设置背景图片了*/
  /*设置图片居中显示*/
  background-position: center center;
  /*设置背景图片的大小*/
  background-size: cover;
}


/* 信息 */
.wjs-info {
  padding: 30px;
}

.wjs-info .row > div {
  margin-top: 20px;
}

.wjs-info .row > div > a:hover {
  color: #e92322;
}

.wjs-info .wjs_icon {
  font-size: 30px;
}


/* 预约 */
.wjs-reverse {
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.wjs-reverse .wjs_icon {
  font-size: 18px;
  vertical-align: sub;
}

.wjs-reverse a:hover {
  color: #e92322;
}

.wjs-reverse .reverse_now {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}


/* 产品 */
/* 上面的样式重构 */
.wjs-product {
  clear: both;
  background-color: #eee;
  padding: 5px;
}

.wjs-product .nav-tabs > li > a {
  line-height: 50px;
}

.wjs-product .nav-tabs > li > a {
  border: none;
}

.wjs-product .nav-tabs > li.active > a,
.wjs-product .nav-tabs > li.active > a:focus,
.wjs-product .nav-tabs > li.active > a:hover {
  background-color: #eee;
  border-bottom: 3px solid #e92322;
  border-top: #eee;
  border-left: #eee;
  border-right: #eee;
}

/* 下面的内容展示 */
.wjs-product .wjs-product-box {
  height: 150px;
  margin-top: 20px;
  background-color: #fff;
}

.wjs-product .wjs-product-box .wjs-product-box-item-left {
  margin-right: 100px;
  height: 150px;
  padding-top: 10px;
  font-size: 12px;
}

.wjs-product .wjs-product-box .wjs-product-box-item-left > .row {
  margin-left: -10px;
  margin-right: -10px;
}

.wjs-product .wjs-product-box .wjs-product-box-item-left > p {
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.wjs-product .wjs-product-box .wjs-product-box-item-left .row div:nth-of-type(2n-1) p {
  text-align: left;
}

.wjs-product .wjs-product-box .wjs-product-box-item-left .row div:nth-of-type(2n) p {
  text-align: right;
}

.wjs-product .wjs-product-box .wjs-product-box-item-right {
  margin-top: 20px;
  width: 100px;
  height: 150px;
  position: absolute;
  right: 10px;
  top: 0;
  border-left: 1px dashed #ccc;
  text-align: center;
  padding-top: 30px;
}

.wjs-product .wjs-product-box .wjs-product-box-item-right b {
  font-size: 40px;
  color: #e92322;
}

.wjs-product .wjs-product-box .wjs-product-box-item-right sub {
  color: #e92322;
  bottom: 0;
}

.wjs-product .wjs-product-box .wjs-product-box-item-right::before,
.wjs-product .wjs-product-box .wjs-product-box-item-right::after {
  content: '.';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #eee;
  position: absolute;
  left: -5px;
}

.wjs-product .wjs-product-box .wjs-product-box-item-right::before {
  top: -5px;
}

.wjs-product .wjs-product-box .wjs-product-box-item-right::after {
  bottom: -5px;
}

.wjs-product .wjs-product-box .wjs-product-box-item-right .wjs-tip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  width: 100%;
}

.wjs-product .wjs-product-box .wjs-product-box-item-right .wjs-tip span {
  cursor: pointer;
}

.wjs-product .wjs-product-box .wjs-product-box-item-right .wjs-tip span:first-of-type {
  color: #e92322;
  border: 1px solid #e92322;
}

.wjs-product .wjs-product-box .wjs-product-box-item-right .wjs-tip span:last-of-type {
  color: blue;
  border: 1px solid blue;
}
